body {
  text-align:center; /*Align body text to the center*/
  width:70%;         /*Make page not span fully to the edges*/
  margin:0 auto;     /*Auto center the body in the margin*/
  background-color: red;
}

.captionedImage {
  border: 4px dashed gold;
  padding-bottom:40px;
  background-color:grey;
}

.captionedImage img {
  padding-top:20px;
}

@media screen and (min-width: 1000px){
  .captionedImage img { /*Rules for image in captionedImage div when screen is larger than 1000px*/
    width: 300px;
    height: 220px;
  }
  .captionedImage {     /*Rules for captionedImage div when screen is larger than 1000px*/
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 1000px){
  .captionedImage img { /*Rules for image in captionedImage div when screen is smaller than 1000px*/
    width: 200px;
    height: 180px;
  }

  .captionedImage {     /*Rules for captionedImage div when screen is smaller than 1000px*/
    width: 250px;
    height: 220px;
  }
}

@media screen and (max-width: 500px){
  .captionedImage img { /*Rules for image in captionedImage div when screen is smaller than 500px*/
    width: 160px;
    height: 140px;
  }

  .captionedImage {     /*Rules for captionedImage div when screen is smaller than 500px*/
    width: 180px;
    height: 160px;
  }
}



section {             /*Rules for section of CSS Grid*/
  display:grid;
  justify-content:center;
  align-content:center;
  gap:10px;
  grid-auto-flow:column;
}