body {
  text-align:center; 
  width:70%;         
  margin:0 auto;     
  background-color: red;
}

.captionedImage {
  display:flex;
  flex-direction: column;
  align-items:center;
  border: 4px double gold;
  padding-bottom:40px;
  background-color:grey;
}

.captionedImage img {
  padding-top:20px;
}

@media screen and (min-width: 1700px){
  .captionedImage img { 
    width: 300px;
    height: 220px;
  }
  .captionedImage {    
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 1700px){
  .captionedImage img { 
    width: 200px;
    height: 180px;
  }

  .captionedImage {    
    width: 250px;
    height: 300px;
  }
}

@media screen and (max-width: 1000px){
  .captionedImage img { 
    width: 160px;
    height: 140px;
  }

  .captionedImage {     
    width: 180px;
    height: 250px;
  }
}

body section {             
  display:grid;
  justify-content:center;
  align-content:center;
  gap:10px;
  grid-auto-flow:column;
}

.aboutMe {
  text-align:left;
}